li.page-item {

    display: none;
}

.pagination {
    display: flex !important;
    justify-content: center !important;
}

.page-item:first-child,
.page-item:nth-child(2),
.page-item:nth-last-child(2),
.page-item:last-child,
.page-item.active,
.page-item.disabled {
    display: block;
}